<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<div class="container">
	<div id="loginbox" style="margin-top: 50px;"
		class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title" style="text-align: center;">
					Supplier PO Rollout Filter

					<div
						style="float: right; font-size: 80%; position: relative; top: -4px">
						<button type="button" class="btn btn-primary btn-sm">Home
						</button>
						<button type="button" class="btn btn-success btn-sm">Sign
							Out</button>
					</div>

				</div>
			</div>





			<div style="padding-top: 30px" class="panel-body">

				<div style="display: none" id="login-alert"
					class="alert alert-danger col-sm-12"></div>

				<form id="loginform" class="form-horizontal" role="form">
					<fieldset>

						<legend>Select Action</legend>

					</fieldset>

					<div class="form-group">
						<label for="firstname"></label>

					</div>

					<div class="form-group">

						<label class="radio inline"> <input type="radio"
							name="user_gender" value="male" checked> <span>
								View </span>
						</label> <label class="radio inline"> <input type="radio"
							name="user_gender" value="female"> <span>Add/Modify
						</span>
						</label> <label class="radio inline"> <input type="radio"
							name="user_gender" value="female"> <span>Delete </span>
						</label>
					</div>


					<div class="form-group">
						<label for="firstname">Filter Criteria</label>
					</div>

				</form>



			</div>
		</div>
	</div>
	</div>